@inherits ResetComponent
@page "/reset"
<div class="d-flex align-items-center position-relative height-lg-100vh">
    <div class="container">
        <div class="woocommerce">
            <div class="row no-gutters">
                <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-3 space-lg-0"
                    id="customer_login">
                    <div class="woocommerce-notices-wrapper"></div>
                    <div class="tab-content mt-5">
                        <div class="tab-pane active" id="customer-login-form" aria-labelledby="login-tab">

                            <EditForm Model="@ResetForm" class="lost_reset_password" OnValidSubmit="@OnValidSubmit">
                                
                                <div class="mb-7">
                                    <p style="font-size: 1.1rem;font-weight:bold; color:#ffffff !important">Enter your email address below and
                                        well get you back on track.</p>
                                </div>

                                @if (!string.IsNullOrEmpty(ErrorMessage))
                                {
                                    <div class="alert alert-danger alert-dismissible bg-danger" role="alert"
                                    style="color: white; border-radius: 10px">
                                        <i class="fa fa-times-circle"></i> We can&#039;t find a user with that e-mail
                                        address
                                        <button type="button" class="close"
                                        @onclick="@(() => {ErrorMessage = string.Empty; SuccessMessage = string.Empty;})">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                }
                                else if (!string.IsNullOrEmpty(SuccessMessage))
                                {
                                    <div class="alert alert-danger alert-dismissible bg-success" role="alert"
                                    style="color: white; border-radius: 10px">
                                        <i class="fa fa-check-circle"></i> We have e-mailed your password reset link!
                                        <button type="button" class="close"
                                        @onclick="@(() => {SuccessMessage = string.Empty; ErrorMessage = string.Empty;})">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                }
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                <div class="form-group">
                                    <label class="form-label text-light" for="email">Email Address</label>
                                    <input @bind="@ResetForm.email" class="form-control input-text" type="email"
                                        name="email" />
                                </div>
                                <div class="clear"></div>
                                <div class="row align-items-center mb-5">
                                    <div class="col-4 col-sm-6">
                                        <NavLink class="small link-muted text-light" href="login">Back to sign in
                                        </NavLink>
                                    </div>
                                    <div class="col-8 col-sm-6 text-right">
                                        <button type="submit" class="btn btn-light transition-3d-hover button">Request
                                            Reset Link
                                        </button>
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>