@inherits OverviewComponent

<!-- content @s  -->
<div class="nk-content nk-content-fluid">
    <div class="container-xl wide-lg">
        <div class="nk-content-body">
            <div class="nk-block-head">
                <div class="nk-block-head-sub"><span>Welcome!</span>
                </div>
                <div class="nk-block-between-md g-4">
                    <div class="nk-block-head-content">
                        <h2 class="nk-block-title fw-normal">@ModelManager.User.DisplayName</h2>
                        <div class="nk-block-des">
                            <p>What transaction would you like to perform today <span class="text-primary"><em
                                        class="icon ni ni-info"></em></span></p>
                        </div>
                        <div class="nk-block-des">
                            <br>
                            <NavLink href="/dapp-auto-trade" class="btn btn-primary btn-sm">
                                DAPP Auto Trade
                            </NavLink>
                        </div>
                    </div><!-- .nk-block-head-content -->
                    <div class="nk-block-head-content">
                        <ul class="nk-block-tools gx-3">
                            <li>
                                <NavLink href="/receive-crypto-assets" class="btn btn-primary">
                                    <span>Receive</span> <em class="icon ni ni-download"></em>
                                </NavLink>
                            </li>
                            <li>
                                <NavLink href="/send-crypto-assets" class="btn btn-white btn-light">
                                    <span>Send</span> <em class="icon ni ni-send d-sm-inline-block"></em>
                                </NavLink>
                            </li>
                            <li class="opt-menu-md dropdown">
                                <NavLink href="/settings/preference" class="btn btn-white btn-light btn-icon">
                                    <em class="icon ni ni-setting"></em>
                                </NavLink>
                            </li>
                        </ul>
                    </div><!-- .nk-block-head-content -->
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->
            <div class="nk-block">
                <div class="row gy-gs">
                    <div class="col-lg-5 col-xl-4">
                        <div class="nk-block">
                            <div class="nk-block-head-xs">
                                <div class="nk-block-head-content">
                                    <h5 class="nk-block-title title">Overview</h5>
                                </div>
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="card card-bordered text-light is-dark h-100" style="background-color: #36454F;">
                                    <div class="card-inner">
                                        <div class="nk-wg7">
                                            <div class="nk-wg7-stats">
                                                <div class="nk-wg7-title">Available balance </div>
                                                <div style="color: #ffffff;" class="number-lg amount">@ModelManager.Wallet.AvailableBalance().ToMoneyFormat() <small
                                                        class="currency currency-btc">@ModelManager.Wallet.Currency</small></div>
                                            </div>
                                            <div class="nk-wg7-stats-group">
                                                <div class="nk-wg7-stats w-50">
                                                    <div class="nk-wg7-title">
                                                        <em class="icon ni ni-arrow-down-right"></em>
                                                        <NavLink href="/transactions">
                                                            Transactions
                                                        </NavLink>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="nk-wg7-foot">
                                                <span class="nk-wg7-note">Today is <span>@DateTime.Now.GetShortFormat()</span></span>
                                            </div>
                                        </div><!-- .nk-wg7 -->
                                    </div><!-- .card-inner -->
                                </div><!-- .card -->
                            </div><!-- .nk-block -->
                        </div><!-- .nk-block -->
                    </div><!-- .col -->
                    <div class="col-lg-7 col-xl-8">
                        <div class="nk-block">
                            <div class="nk-block-head-xs">
                                <div class="nk-block-between-md g-2">
                                    <div class="nk-block-head-content">
                                        <h5 class="nk-block-title title">Crypto Asset</h5>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head -->
                            <div class="row g-2">
                                <div class="col-sm-4">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <NavLink class="nk-wgw-inner" href="/receive/BTC">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon" style="background-color: #f5f6fa;">
                                                        <img src="images/btc.png" style="height: 20px; width: 20px;">
                                                    </div>
                                                    <h5 class="nk-wgw-title title">Bitcoin</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">@ModelManager.Wallet.BTC.ToCoinFormat()<span
                                                            class="currency currency-nio">BTC</span></div>
                                                    <div class="amount" style="font-size: 9pt">@("BTC".CoinToMoney(@ModelManager.Wallet.BTC,ModelManager.Wallet.Currency).ToMoneyFormat())<span
                                                            class="currency currency-nio">@ModelManager.Wallet.Currency</span></div>
                                                </div>
                                            </NavLink>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-sm-4">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="/receive/ETH">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon" style="background-color: #f5f6fa;">
                                                        <img src="images/eth.png" style="height: 15px; width: 15px;">
                                                    </div>
                                                    <h5 class="nk-wgw-title title">Ethereum</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">@ModelManager.Wallet.ETH.ToCoinFormat()<span
                                                            class="currency currency-btc">ETH</span></div>
                                                    <div class="amount" style="font-size: 9pt">@("ETH".CoinToMoney(@ModelManager.Wallet.ETH,ModelManager.Wallet.Currency).ToMoneyFormat())<span
                                                            class="currency currency-nio">@ModelManager.Wallet.Currency</span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-sm-4">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="/receive/BCH">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon" style="background-color: #f5f6fa;">
                                                        <img src="images/bch.png" style="height: 15px; width: 15px;">
                                                    </div>
                                                    <h5 class="nk-wgw-title title">Bitcoin Cash</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">@ModelManager.Wallet.BCH.ToCoinFormat()<span
                                                            class="currency currency-eth">BCH</span></div>
                                                    <div class="amount" style="font-size: 9pt">@("BCH".CoinToMoney(@ModelManager.Wallet.BCH,ModelManager.Wallet.Currency).ToMoneyFormat())<span
                                                            class="currency currency-nio">@ModelManager.Wallet.Currency</span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-sm-4">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="/receive/XRP">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon" style="background-color: #f5f6fa;">
                                                        <img src="images/xrp.png" style="height: 15px; width: 15px;">
                                                    </div>
                                                    <h5 class="nk-wgw-title title">Ripple</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">@ModelManager.Wallet.XRP.ToCoinFormat()<span
                                                            class="currency currency-nio">XRP</span></div>
                                                    <div class="amount" style="font-size: 9pt">@("XRP".CoinToMoney(@ModelManager.Wallet.XRP,ModelManager.Wallet.Currency).ToMoneyFormat())<span
                                                            class="currency currency-nio">@ModelManager.Wallet.Currency</span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-sm-4">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="/receive/USDT">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon" style="background-color: #f5f6fa;">
                                                        <img src="images/usdt.png" style="height: 15px; width: 15px;">
                                                    </div>
                                                    <h5 class="nk-wgw-title title">USD Tether</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">@ModelManager.Wallet.USDT.ToCoinFormat()<span
                                                            class="currency currency-nio">USDT</span></div>
                                                    <div class="amount" style="font-size: 9pt">@("USDT".CoinToMoney(@ModelManager.Wallet.USDT,ModelManager.Wallet.Currency).ToMoneyFormat())<span
                                                            class="currency currency-nio">@ModelManager.Wallet.Currency</span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-sm-4">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="/receive/USDD">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon" style="background-color: #f5f6fa;">
                                                        <img src="images/usdd.png" style="height: 15px; width: 15px;">
                                                    </div>
                                                    <h5 class="nk-wgw-title title">USD Digital</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">@ModelManager.Wallet.USDD.ToCoinFormat()<span
                                                            class="currency currency-nio">USDD</span></div>
                                                    <div class="amount" style="font-size: 9pt">@("USDD".CoinToMoney(@ModelManager.Wallet.USDD,ModelManager.Wallet.Currency).ToMoneyFormat())<span
                                                            class="currency currency-nio">@ModelManager.Wallet.Currency</span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .nk-block -->
                    </div><!-- .col -->
                    <div class="col-lg-12 col-xl-12">
                        <div class="nk-block">
                            <div class="row g-2">
                                <div class="col-sm-4">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="/receive/BNB">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon" style="background-color: #f5f6fa;">
                                                        <img src="images/bnb.png" style="height: 20px; width: 20px;">
                                                    </div>
                                                    <h5 class="nk-wgw-title title">Binance Coin</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">@ModelManager.Wallet.BNB.ToCoinFormat()<span
                                                            class="currency currency-nio">BNB</span></div>
                                                    <div class="amount" style="font-size: 9pt">@("BNB".CoinToMoney(@ModelManager.Wallet.BNB,ModelManager.Wallet.Currency).ToMoneyFormat())<span
                                                            class="currency currency-nio">@ModelManager.Wallet.Currency</span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-sm-4">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="/receive/DOGE">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon" style="background-color: #f5f6fa;">
                                                        <img src="images/doge.png" style="height: 15px; width: 15px;">
                                                    </div>
                                                    <h5 class="nk-wgw-title title">Dogecoin</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">@ModelManager.Wallet.DOGE.ToCoinFormat()<span
                                                            class="currency currency-btc">DOGE</span></div>
                                                    <div class="amount" style="font-size: 9pt">@("DOGE".CoinToMoney(@ModelManager.Wallet.DOGE,ModelManager.Wallet.Currency).ToMoneyFormat())<span
                                                            class="currency currency-nio">@ModelManager.Wallet.Currency</span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-sm-4">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="/receive/LINK">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon" style="background-color: #f5f6fa;">
                                                        <img src="images/link.png" style="height: 15px; width: 15px;">
                                                    </div>
                                                    <h5 class="nk-wgw-title title">ChainLink</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">@ModelManager.Wallet.LINK.ToCoinFormat()<span
                                                            class="currency currency-eth">LINK</span></div>
                                                    <div class="amount" style="font-size: 9pt">@("LINK".CoinToMoney(@ModelManager.Wallet.LINK,ModelManager.Wallet.Currency).ToMoneyFormat())<span
                                                            class="currency currency-nio">@ModelManager.Wallet.Currency</span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-sm-4">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="/receive/CHZ">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon" style="background-color: #f5f6fa;">
                                                        <img src="images/chz.png" style="height: 15px; width: 15px;">
                                                    </div>
                                                    <h5 class="nk-wgw-title title">Chiliz</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">@ModelManager.Wallet.CHZ.ToCoinFormat()<span
                                                            class="currency currency-nio">CHZ</span></div>
                                                    <div class="amount" style="font-size: 9pt">@("CHZ".CoinToMoney(@ModelManager.Wallet.CHZ,ModelManager.Wallet.Currency).ToMoneyFormat())<span
                                                            class="currency currency-nio">@ModelManager.Wallet.Currency</span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-sm-4">
                                    <div class="card bg-light">
                                        <div class="nk-wgw sm">
                                            <a class="nk-wgw-inner" href="/receive/DOT">
                                                <div class="nk-wgw-name">
                                                    <div class="nk-wgw-icon" style="background-color: #f5f6fa;">
                                                        <img src="images/dot.png" style="height: 15px; width: 15px;">
                                                    </div>
                                                    <h5 class="nk-wgw-title title">Polkadot</h5>
                                                </div>
                                                <div class="nk-wgw-balance">
                                                    <div class="amount">@ModelManager.Wallet.DOT.ToCoinFormat()<span
                                                            class="currency currency-nio">DOT</span></div>
                                                    <div class="amount" style="font-size: 9pt">@("DOT".CoinToMoney(@ModelManager.Wallet.DOT,ModelManager.Wallet.Currency).ToMoneyFormat())<span
                                                            class="currency currency-nio">@ModelManager.Wallet.Currency</span></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .nk-block -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .nk-block -->
            <div class="nk-block nk-block-lg">
                <div class="row gy-gs">
                    <div class="col-md-6">
                        <div class="card-head">
                            <div class="card-title  mb-0">
                                <h5 class="title">Recent Transactions</h5>
                            </div>
                        </div><!-- .card-head -->
                        <div class="tranx-list tranx-list-stretch card card-bordered">
                            <div class="card">
                                <div class="card-inner card-inner-lg">
                                    <div class="align-center flex-wrap flex-md-nowrap g-4">
                                        <div class="nk-block-image w-120px flex-shrink-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 118">
                                                <path
                                                    d="M8.916,94.745C-.318,79.153-2.164,58.569,2.382,40.578,7.155,21.69,19.045,9.451,35.162,4.32,46.609.676,58.716.331,70.456,1.845,84.683,3.68,99.57,8.694,108.892,21.408c10.03,13.679,12.071,34.71,10.747,52.054-1.173,15.359-7.441,27.489-19.231,34.494-10.689,6.351-22.92,8.733-34.715,10.331-16.181,2.192-34.195-.336-47.6-12.281A47.243,47.243,0,0,1,8.916,94.745Z"
                                                    transform="translate(0 -1)" fill="#f6faff" />
                                                <rect x="18" y="32" width="84" height="50" rx="4" ry="4" fill="#fff" />
                                                <rect x="26" y="44" width="20" height="12" rx="1" ry="1"
                                                    fill="#e5effe" />
                                                <rect x="50" y="44" width="20" height="12" rx="1" ry="1"
                                                    fill="#e5effe" />
                                                <rect x="74" y="44" width="20" height="12" rx="1" ry="1"
                                                    fill="#e5effe" />
                                                <rect x="38" y="60" width="20" height="12" rx="1" ry="1"
                                                    fill="#e5effe" />
                                                <rect x="62" y="60" width="20" height="12" rx="1" ry="1"
                                                    fill="#e5effe" />
                                                <path
                                                    d="M98,32H22a5.006,5.006,0,0,0-5,5V79a5.006,5.006,0,0,0,5,5H52v8H45a2,2,0,0,0-2,2v4a2,2,0,0,0,2,2H73a2,2,0,0,0,2-2V94a2,2,0,0,0-2-2H66V84H98a5.006,5.006,0,0,0,5-5V37A5.006,5.006,0,0,0,98,32ZM73,94v4H45V94Zm-9-2H54V84H64Zm37-13a3,3,0,0,1-3,3H22a3,3,0,0,1-3-3V37a3,3,0,0,1,3-3H98a3,3,0,0,1,3,3Z"
                                                    transform="translate(0 -1)" fill="#798bff" />
                                                <path
                                                    d="M61.444,41H40.111L33,48.143V19.7A3.632,3.632,0,0,1,36.556,16H61.444A3.632,3.632,0,0,1,65,19.7V37.3A3.632,3.632,0,0,1,61.444,41Z"
                                                    transform="translate(0 -1)" fill="#6576ff" />
                                                <path
                                                    d="M61.444,41H40.111L33,48.143V19.7A3.632,3.632,0,0,1,36.556,16H61.444A3.632,3.632,0,0,1,65,19.7V37.3A3.632,3.632,0,0,1,61.444,41Z"
                                                    transform="translate(0 -1)" fill="none" stroke="#6576ff"
                                                    stroke-miterlimit="10" stroke-width="2" />
                                                <line x1="40" y1="22" x2="57" y2="22" fill="none" stroke="#fffffe"
                                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                <line x1="40" y1="27" x2="57" y2="27" fill="none" stroke="#fffffe"
                                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                <line x1="40" y1="32" x2="50" y2="32" fill="none" stroke="#fffffe"
                                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                <line x1="30.5" y1="87.5" x2="30.5" y2="91.5" fill="none"
                                                    stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round" />
                                                <line x1="28.5" y1="89.5" x2="32.5" y2="89.5" fill="none"
                                                    stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round" />
                                                <line x1="79.5" y1="22.5" x2="79.5" y2="26.5" fill="none"
                                                    stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round" />
                                                <line x1="77.5" y1="24.5" x2="81.5" y2="24.5" fill="none"
                                                    stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round" />
                                                <circle cx="90.5" cy="97.5" r="3" fill="none" stroke="#9cabff"
                                                    stroke-miterlimit="10" />
                                                <circle cx="24" cy="23" r="2.5" fill="none" stroke="#9cabff"
                                                    stroke-miterlimit="10" />
                                            </svg>
                                        </div>
                                        <div class="nk-block-content">
                                            <div class="nk-block-content-head px-lg-4">
                                                <h5>Ops! You have no transaction yet.</h5>
                                                <p class="text-soft">To transfer crypto into your Finlexis wallet, click
                                                    the receive button. Proceed by selecting crypto you wish to receive.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .card-inner -->
                            </div><!-- .card -->
                        </div><!-- .tranx-list -->
                        <div class="card card-bordered">
                            <div class="nk-refwg-invite card-inner">
                                <div class="nk-refwg-head g-3">
                                    <div class="nk-refwg-title">
                                        <h5 class="title">Refer Us & Earn</h5>
                                        <div class="title-sub">Use the bellow link to invite your friends.</div>
                                    </div>
                                </div>
                                <div class="nk-refwg-url">
                                    <div class="form-control-wrap">
                                        <div class="form-clip clipboard-init" data-clipboard-target="#refUrl"
                                            data-success="Copied" data-text="Copy Link"><em
                                                class="clipboard-icon icon ni ni-copy"></em> <span
                                                class="clipboard-text">Copy Link</span></div>
                                        <div class="form-icon">
                                            <em class="icon ni ni-link-alt"></em>
                                        </div>
                                        <input type="text" class="form-control copy-text" id="refUrl"
                                            value="@(BaseUrl)register?refCode=@ModelManager.User.DisplayName">
                                    </div>
                                </div>
                            </div><!-- .nk-refwg-invite -->
                        </div><!-- .card -->
                    </div><!-- .col -->
                    <div class="col-md-6">
                        <div class="card-head">
                            <div class="card-title mb-0">
                                <h5 class="title">Market Data</h5>
                            </div>
                        </div><!-- .card-title -->
                        <div class="card card-bordered">
                            <div
                                style="height:451px; background-color: #1D2330; overflow:hidden; box-sizing: border-box; border-radius: 4px; text-align: right; line-height:14px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #262B38;padding:1px;padding: 0px; margin: 0px; width: 100%;">
                                <div style="height:430px; padding:0px; margin:0px; width: 100%;"><iframe
                                        src="https://widget.coinlib.io/widget?type=chart&theme=light&coin_id=859&pref_coin_id=1505"
                                        width="100%" height="536px" scrolling="auto" marginwidth="0" marginheight="0"
                                        frameborder="0" border="0"
                                        style="border:0;margin:0;padding:0;line-height:14px;"></iframe></div>
                            </div>
                        </div><!-- .card -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .nk-block -->
            <div class="nk-block">
            </div><!-- .nk-block -->
        </div>
    </div>
</div>
<!-- content @e  -->
